.*.swp
._*
.DS_Store
.git
.hg
.npmrc
.lock-wscript
.svn
.wafpickle-*
config.gypi
CVS
npm-debug.log
.DS_Store
node_modules
npm-debug.log
.vscode
.coveralls.yml
dist/build.js
dist/build.js.map
test/unit/coverage
yarn-debug.log*
yarn-error.log*
.idea
src/todos